<html lang="en">
{% include '/includes/header.html' %}

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include '/includes/navbar.html' %}
        <main class="px-3">
            <h1>About Project</h1>
            <p class="lead">
                The theme of this semester’s project was emulation where the goal was to develop a
                prototype system that emulates the interface and working of a big data system.
            </p>
            <p class="lead">
                Here I have emulated Firebase Realtime Database RESTful API using FastAPI as framework and MongoDB Atlas
                as a database. This system implements the functionality of RESTful endpoints GET, POST, PUT, PATCH &
                DELETE with filters associated with that endpoints. It tries the replicate the most of the
                functionalities as accurately as possible with some assumptions.
            </p>
            <p>
                Project Developed for DSCI 551: Foundations of Data Management
            </p>
            <figcaption class="blockquote-footer">
                Kayvan Shah | M.S. in Applied Data Science | University of Southern California
            </figcaption>
        </main>
        {% include '/includes/footer.html' %}
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>